body{
    font-family:  Amatic SC;
    color: white;
    font-size: 120px;
    background-color: black;
}

.MainContainer
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:90%;
  height:95vh;
  min-height:95%;
  overflow:hidden;
  padding:1%;
  margin:0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:auto;
  align-items:flex-start;
  align-content:flex-start;
}
.top
{
    width:98%;
  min-width:98%;
  max-width:98%;
  height:90%;
  min-height:46.25%;
  overflow:hidden;
  padding:1%;
  margin:0;
  background-color:blue;
}
.bottom
{
    width:98%;
  min-width:98%;
  max-width:98%;
  height:46.25%;
  min-height:46.25%;
  overflow:hidden;
  padding:1%;
  margin:0;
  background-color:yellow;
}
.center{
    display:block;
    position: absolute;
    margin-top: 300px;
    margin-left: 40%;
    margin-right: auto;
    width:140px;
    height: 200px;
    
}