body{
    font-family:  Arial;
    color: white;
    font-size: 40px;
/*    background-color: black;*/
    
}

p{
    text-align: center; 
    font-family: monospace;
    color: yellow;
}

.marquee{
    font-family:  Amatic SC;
    color: white;
    font-size: 100px;
}
.center{
    display:block;
    position: absolute;
    margin-top: 300px;
    margin-left: 44%;
    margin-right: auto;
    width:140px;
    height: 200px;
    
}